
 <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-2">
            <div class="menu_section">
              <img style="width: 100%;"src="https://gc-media-bucket.s3.amazonaws.com/creator/2019/1000/1554194532506541149.jpg"/>
<!--              <h2 style="color: white;padding: 40px">Admin Panel</h2>-->

              <ul class="nav side-menu">
                <li><a href="/home"><i class="fa fa-home"></i> Home </a></li>
                <li><a href="/partner-info"><i class="fa fa-edit"></i> Partner Infomation </a></li>
                <li><a href="/add-product"><i class="fa fa-desktop"></i> Add Product </a></li>
                <li><a><i class="fa fa-table"></i> Signed Agreements</a></li>
                <li><a><i class="fa fa-bar-chart-o"></i> Leads To Corsiva </a></li>
                <li><a><i class="fa fa-clone"></i> Leads From Corsiva </a></li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
