<div id="main-banner">
  <ul>
    <li>
      <div id="side-menu-bar">
        <ul>
          <li>Electronics Devices</li>
          <li>Electronics Accessories</li>
          <li>TV Home Appliances</li>
          <li>Health & Beauty</li>
          <li>Babies & Toys</li>
          <li>Groceries & Pets</li>
          <li>Home & Lifestyle</li>
          <li>Women's Fashion & Accessories</li>
          <li>Men's Fashion & Accessories</li>
          <li>Kid's Fashion & Accessories</li>
          <li>Sport & Travel</li>
          <li>Automotive & Motocycles</li>
        </ul>
      </div>
    </li>
    <li>
      <div id="banner">
        <img style="width:100%; height:320px" src="assets/images/banner-shop.png"/>
      </div>
    </li>
  </ul>
</div>
