<div class="login-wrap">
  <div class="login-html">
    <div class="login-form">
      <h2  style="color:white"><img style="height:100px"src="	https://corsivalabpartnerportal-prelive.azurewebsites.net/images/logo.jpg"/></h2>
      <br/><br/>
      <form (ngSubmit)="onSubmit()">
        <p style="color: red;font-family:arial;font-size:14px;" th:text="${errorLogin}"></p>
        <label  class="form-label">Username</label>
        <!--/*@thymesVar id="username" type=""*/-->
        <input  type="text" [(ngModel)]="username" name="username" class="form-control" aria-describedby="helpId">
        <br/><br/>
        <label  class="form-label">Password</label>
        <!--/*@thymesVar id="password" type=""*/-->
        <input type="password" [(ngModel)]="password" name="password" class="form-control" aria-describedby="helpId">
        <br/><br/>
        <button type="submit" style="border-radius:30px;width:100%"class="btn btn-primary">Submit</button>
      </form>
      <br>
      <div class="hr"></div>
      <div class="foot-lnk">
        <a href="/ForgotPassword">Forgot Password?</a>
      </div>
      <br><br>
      <div class="sign-up"style="font-size:12px;color:#aaa">
        <a>If you are interested to become our partners, please write in to </a>
        <a href=""style="color:lightblue">admin@corsivalab.com</a>
      </div>
    </div>
  </div>
</div>
<script>
  console.log("js");
</script>

