<div id="header">

    <ul>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/signup">SIGNUP</a></li>
      <li><a href="/changelanguage">CHANGE LANGUAGE</a></li>
    </ul>


  <div id="sub-header">
    <ul id="logo-search">
      <li><a href ="/"><img style="width: 150px" src="assets/images/lazada-logo.png"></a> </li>
      <li><input style="border-style: hidden;background-color: #eff0f5;border-color: #8B8986;margin-top: 5px; height: 45px;width: 450px" type="search" placeholder="Search in lazada"/></li>
      <li><button style="background-color: white;border-style: hidden" type="submit"><img style="background-color: transparent;margin-top: 5px;height: 45px;width: 65px" src="/assets/images/search-button.png"></button></li>
    </ul>
  </div>
</div>
